body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(158, 247, 250);

  font-family: 'Cairo', sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  font-family: 'Permanent Marker', cursive;
  color: rgb(84, 29, 156);
}
.main-text{
  font-size: 18px;
}
.my_name{
  font-weight: 700; 
  font-size: 28px; 
}
.photo{
  width: 130px;
}